<div class="container-signin">
  <div class="container">

    <h2>Hey <%= current_user.username %> </h2>
    <p>On this page you can edit your details </p>

    <h5> This is your current username </h5>
    <p>Your current HeyBud identity is called <strong> <%= current_user.username %> </strong> </p>

    <%# <button class="heyBudButton-reverse"> Generate a new one </button>

    <h5>This is your current avatar</h5>
    <%# <%= image_tag current_user.avatar.image_url, style: "width: 100px; height: 100px; border-radius: 50%; margin-right: 12px;"
    <button class="heyBudButton" style="margin-top: 3rem;"> Pick a new one </button> %>

  <h4>Edit your details <%= current_user.first_name %> </h4>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true,
                  input_html: { class: "signinform-input" }%>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: { class: "signinform-input", autocomplete: "First Name" }%>
      <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: { class: "signinform-input", autocomplete: "Last name" }%>
      <%= f.input :city,
                  required: true,
                  autofocus: true,
                  input_html: { class: "signinform-input", autocomplete: "City" }%>
      <%= f.input :age,
                  required: true,
                  autofocus: true,
                  input_html: { class: "signinform-input", autocomplete: "Age" }%>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { class: "signinform-input", autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { class: "signinform-input", autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { class: "signinform-input", autocomplete: "new-password" } %>
    </div>

    <div class="heyBudButton-reverse">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>


  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>

  </div>
</div>
