<div class="container-main-chat">
<div class="container-fluid">

  <h3 class="text-center header-chat-index"> Chat with your matches </h3>

    <div class="cards">

      <%# <p> Hello <%= current_user.first_name </p>
      <hr> %>
        <% @chatrooms.each do |chatroom| %>
          <%= link_to chatroom do %>
            <div class="card-chatpartner mb-2">
              <img src="https://github.com/identicons/Victor.png" class="avatar-card-chat">
              <div class="card-body">
                <h3 class="chatpartner"> <%= chatroom.match.receiver.first_name %> </h3>
                <p class="last-message">
                  <% lastMessage = chatroom.messages.last %>
                  <%= lastMessage.content  %>
                </p>
                <p class="last-message-date">
                  <%= lastMessage.user.username %> on the
                  <%= lastMessage.created_at.strftime("%d %b at %H:%M") %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <button class="heyBudButton-chat-discover center-button"> Discover more matches! </button>

</div>
</div>
