<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-3">
    <p> Hello <%= current_user.first_name %> </p>
    <hr>
    <% @chatrooms.each do |chatroom| %>
      <%= link_to chatroom do %>
        <div class="card mb-2">
          <div class="card-body">
            <%= chatroom.match.asker_id %>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
    <div class="col-9">
      <% if @chatroom.present? %>
        <div class="chat-room">
          <p> <%= @chatroom.name %> </p>
          <% @chatroom.messages.each do |message| %>
          <div class="message mb-2  <%= 'me' if message.user == current_user %>">
            <div class="content" >
              <%= message.content %>
            </div>
            <div class="author">
            <%= message.user.username %>
            </div>
          </div>
          <br>
          <% end %>
          <%# <div class="chat-box">
            <%= render 'messages/form', message:Message.new, room: @room
          </div> %>
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
</div>
