<div class="container-main-chat">
<div class="container-fluid">

  <h3 class="text-center header-chat-index"> Chat with your matches </h3>

    <div class="cards">

      <%# <p> Hello <%= current_user.first_name </p>
      <hr> %>
        <% @chatrooms.each do |chatroom| %>
        <% if chatroom.match.asker == current_user || chatroom.match.receiver == current_user %>
          <%= link_to chatroom do %>
            <div class="card-chatpartner mb-2">
              <img src="https://github.com/identicons/Victor.png" class="avatar-card-chat">
              <div class="card-body">
                <% if chatroom.match.receiver == current_user %>
                <h3 class="chatpartner"> <%= chatroom.match.asker.username %> </h3>
              <% else %>
                <h3 class="chatpartner"> <%= chatroom.match.receiver.username %> </h3>
              <% end %>
                <% if chatroom.messages.any? %>
                  <p class="last-message">
                    <% lastMessage = chatroom.messages.last %>
                    <%= lastMessage.content  %>
                  </p>
                  <p class="last-message-date">
                    <%= lastMessage.user.username %> on the
                    <%= lastMessage.created_at.strftime("%d %b at %H:%M") %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
          <% end %>
        <% end %>
    </div>
    <button class="heyBudButton-chat-discover center-button"> <%= link_to "DISCOVER", matches_path %> </button>
</div>
</div>
