<div class="container-main-chat">
<div class="container-fluid">
  <div class="row">

    <div class="col-3 chatpartner-column">
      <%# <p> Hello <%= current_user.first_name </p>
      <hr> %>
        <% @chatrooms.each do |chatroom| %>
        <% if chatroom.match.asker == current_user || chatroom.match.receiver == current_user %>
          <%= link_to chatroom do %>
            <div class="card-chatpartner mb-2">
              <% if chatroom.match.receiver == current_user %>
               <%= image_tag chatroom.match.asker.avatar_url , class:"avatar-card" %>
              <% else %>
              <%= image_tag chatroom.match.receiver.avatar_url , class:"avatar-card" %>
              <% end %>
              <div class="card-body">
              <% if chatroom.match.receiver == current_user %>
                <h5 class="chatpartner"> <%= chatroom.match.asker.username %> </h5>
              <% else %>
                <h5 class="chatpartner"> <%= chatroom.match.receiver.username %> </h5>
              <% end %>
                <% if chatroom.messages.any? %>
                  <p class="last-message">
                    <% lastMessage = chatroom.messages.last %>
                    <%= lastMessage.content  %>
                  </p>
                  <p class="last-message-date">
                    <%= lastMessage.user.username %> on the
                    <%= lastMessage.created_at.strftime("%d %b at %H:%M") %>
                  </p>
                <% end %>
              </div>
            </div>
          <% end %>
          <% end %>
        <% end %>
        <%= link_to "DISCOVER", matches_path, class: "heyBudButton-chat-discover center-button", style: "margin-top: 30px;"  %>
    </div>


    <div class="col-9">

      <div class="chat-column">


        <h3 class="m-3"><%= @chatroom.match.receiver == current_user ? @chatroom.match.asker.username : @chatroom.match.receiver.username %></h3>

          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <% if message.user == current_user %>
                <div class="message d-flex justify-content-end">
                  <%= render "/messages/message2", message: message %>
                </div>
                <br>
              <% else %>
                <div class="message d-flex justify-content-start" >
                  <%= render "/messages/message", message: message %>
                </div>
                <br>
              <% end %>

            <% end %>
          </div>

              <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
              <div class="chat-box d-flex">
                <%= f.input_field :content, label: false, placeholder: "Message to #{@chatroom.match.receiver.username } ...", as: :string %>
               <%= f.button :submit, "SEND", class: "heyBudButton chatbutton" %>
              </div>
              <% end %>

      </div>
    </div>

  </div>
</div>
</div>
