<div class="container-main-chat">
<div class="container-fluid">
  <div class="row">

    <div class="col-3 chatpartner-column">
      <%# <p> Hello <%= current_user.first_name </p>
      <hr> %>
        <% @chatrooms.each do |chatroom| %>
          <%= link_to chatroom do %>
            <div class="card-chatpartner mb-2">
              <img src="https://github.com/identicons/Victor.png" class="avatar-card-chat">
              <div class="card-body">
                <h3 class="chatpartner"> <%= chatroom.match.receiver.first_name %> </h3>
                <p class="last-message">
                  <% lastMessage = chatroom.messages.last %>
                  <%= lastMessage.content  %>
                </p>
                <p class="last-message-date">
                  <%= lastMessage.user.username %> on the
                  <%= lastMessage.created_at.strftime("%d %b at %H:%M") %>
                </p>
              </div>
            </div>
          <% end %>
        <% end %>
        <button class="heyBudButton-chat-discover"> Discover more matches! </button>
    </div>


    <div class="col-9">

      <div class="chat-column">

        <h3 class="m-3"><%= @chatroom.match.receiver.first_name %></h3>

          <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <% if message.user == current_user %>
                <div class="message d-flex justify-content-end">
                  <%= render "/messages/message2", message: message %>
                </div>
                <br>
              <% else %>
                <div class="message d-flex justify-content-start" >
                  <%= render "/messages/message", message: message %>
                </div>
                <br>
              <% end %>

            <% end %>
          </div>

              <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
              <div class="chat-box d-flex">
                <%= f.input_field :content, label: false, placeholder: "Message to #{@chatroom.match.receiver.first_name } ...", as: :string %>
               <%= f.button :submit, "SEND", class: "heyBudButton chatbutton" %>
              </div>
              <% end %>

      </div>
    </div>

  </div>
</div>
</div>
