<div class="banner">
  <%= image_tag "hey-logo.png", class: "banner-image"%>

  <div class="banner-right">
    <div>
      <%= image_tag "banner1.png", class: "banner-round-image"%>
      <%= image_tag "banner2.png", class: "banner-round-image"%>
      <%= image_tag "banner3.png", class: "banner-round-image"%>
      <%= image_tag "banner4.png", class: "banner-round-image"%>
    </div>

    <div class="dot-container">
      <%= image_tag "banner5.png", class: "banner-round-image-small"%>
      <%= image_tag "banner6.png", class: "banner-round-image-small"%>
      <%= image_tag "banner7.png", class: "banner-round-image-small"%>
      <div class="purple-dot"></div>
      <div class="purple-dot"></div>
      <div class="purple-dot"></div>
    </div>

  <a class="banner-link" href="#">START MAKING CONNECTIONS THAT MATTER</a>
  </div>
</div>

<div class="description-background">
<div class="description">

  <div class="description-container">
  <%= image_tag "description1", class: "description-image"%>
    <p class="text-description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>

  <div class="description-container">
  <p class="text-description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  <%= image_tag "description2", class: "description-image"%>
  </div>


  <div class="description-container">
  <%= image_tag "description3", class: "description-image"%>
    <p class="text-description">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>

</div>
</div>

<div class="story">
    <h1>DISCOVER HEY BUD! STORIES</h1>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "carousel1.jpg", class: "d-block mx-auto carousel-image"%>
      <h1>THIS IS SLIDE 1</h1>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type... Read more
</p>
    </div>

    <div class="carousel-item">
      <%= image_tag "carousel2.jpg", class: "d-block mx-auto carousel-image"%>
      <h1>THIS IS SLIDE 2</h1>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type... Read more
</p>
    </div>

    <div class="carousel-item">
      <%= image_tag "carousel3.jpg", class: "d-block mx-auto carousel-image"%>
      <h1>THIS IS SLIDE 3</h1>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type... Read more
</p>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
  </div>
</div>

 <div class="footer">
<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
    </ul>
    <p class="text-center">Rentway created with  <i class="fas fa-heart"></i> @ LeWagon Batch 671</p>
    <p class="text-center">© 2021 Company, Inc</p>
  </div>
</div>
</div>
