<div class="banner">
  <%= image_tag "hey-logo.png", class: "banner-image"%>

  <div class="banner-right">
    <div>
      <%= image_tag "banner1.png", class: "banner-round-image"%>
      <%= image_tag "banner2.png", class: "banner-round-image"%>
      <%= image_tag "banner3.png", class: "banner-round-image"%>
      <%= image_tag "banner4.png", class: "banner-round-image"%>
    </div>

    <div class="dot-container">
      <%= image_tag "banner5.png", class: "banner-round-image-small"%>
      <%= image_tag "banner6.png", class: "banner-round-image-small"%>
      <%= image_tag "banner7.png", class: "banner-round-image-small"%>
      <div class="purple-dot"></div>
      <div class="purple-dot"></div>
      <div class="purple-dot"></div>
    </div>

  <%= link_to "START MAKING CONNECTIONS THAT MATTER", new_user_session_path ,class:"banner-link"%>
  </div>
</div>

<div class="description-background">
<h1>HOW DOES IT WORK?</h1>
<div class="description">

  <div class="description-container">
  <%= image_tag "description1", class: "description-image"%>
    <p class="text-description">Hey Bud is a social app that allows you to interact with people who share the same interests as you. Our platform focuses more on a user's thoughts and interests instead of your physical appearance.
</p>
</div>

  <div class="description-container">
  <p class="text-description">To start using the app, you need to sign up with your personal information, and then you will be assigned a username and get to choose a profile picture! Remember, the people you meet on the app don't know your real name or gender. The idea is to interact just based on interest.
    </p>
  <%= image_tag "description2", class: "description-image"%>
  </div>


  <div class="description-container">
  <%= image_tag "description3", class: "description-image"%>
    <p class="text-description">Once you've set up your profile, then comes the main topic --> What topics you'd like to talk about, it can be sports, politics, food or books, you decide. Once you add your interests, hit show "my matches," voila! You can now choose which user you'd like to talk to. </p>
  </div>

</div>
</div>

<div class="story">
    <h1>DISCOVER HEY BUD! STORIES</h1>


    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner position-relative">
    <div class="position-absolute w-100 d-flex justify-content-center">
    <div class="carousel-background">
    </div>
    </div>
    <div class="carousel-item active">
      <%= image_tag "carousel1.jpg", class: "d-block mx-auto carousel-image"%>
      <h1>READ HOW BERNIE AND NATHALIE FOUND THEIR LOVE FOR VEGAN FOOD</h1>
      <p class="mx-auto">It all started at on a saturday night... Read more
</p>
    </div>

    <div class="carousel-item">
      <%= image_tag "carousel2.jpg", class: "d-block mx-auto carousel-image"%>
      <h1>MEET JENNY - A LONELY BACKPACKER WHO MADE FRIENDS FOR LIFE</h1>
      <p class="mx-auto">It all started at on a saturday night.... Read more
</p>
    </div>

    <div class="carousel-item">
      <%= image_tag "carousel3.jpg", class: "d-block mx-auto carousel-image"%>
      <h1>DISCOVER HOW PHILIP AND RAJA BECAME CODING BUDS</h1>
      <p class="mx-auto">It all started at on a saturday night.... Read more
</p>
    </div>

  </div>

  <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </button>

  <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
  </div>
</div>


<div class="container extrapage">
<h1></h1>
</div>

 <div class="footer">
<div class="container">
  <footer class="">
    <ul class="nav justify-content-center">
      <li class="nav-item"><a href="#" class="nav-link px-2">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2">About</a></li>
    </ul>
    <p class="text-center">Hey Bud created with  <i class="fas fa-heart"></i> @ LeWagon Batch 671</p>
    <p class="text-center">© 2021 Company, Inc</p>
  </div>
</div>
</div>
