<div class="container-signup main-container">
  <div class="container container-top">
    <%= form_with url: welcome_path, local: true  do |form| %>
      <div class="container container-card-trip" id="avatar_pick">
        <div class="card-trip justify-content-center" >
          <h2 class="text-uppercase">Welcome to Hey Bud, <%= current_user.first_name %> </h2>
          <h5>Your new HeyBud identity is called <%= current_user.username %> </h5>
          <div class="sign-up-div">
            <h4 class="text-uppercase"> Here's your avatar </h4>
            <div class="d-flex justify-content-center">

                  <%= image_tag current_user.avatar_url , style: "width: 150px; height: 150px; border-radius: 25px;" %>
            </div>
          </div>
          <span class="heyBudButton" id="interest_button"> Pick your interests </span>
        </div>
      </div>


      <div class="container container-card-trip hidden-welcome" id="interest_pick">
        <div class="card-trip">
          <h4 class="text-uppercase"> <%= current_user.first_name %>, pick your top 3 interests </h4>
          <input type="hidden" name="snippet[tag_ids][]" value="">
          <div class="tag-item d-flex flex-wrap justify-content-center">
            <% Interest.all.each do |interest| %>
              <div class="interest-selector-first">
                <%= form.check_box "interest_ids[]", {checked: current_user.interests.include?(interest), class:"form-check-input check_boxes optional tag-selector"}, interest.id, nil %>
                <label class="form-check-label collection_check_boxes" for="snippet_tag_ids_1"> <%= interest.name %>
                </label></div>
            <% end %>
          </div>
          <button type="submit" class="heyBudButton"> Show Me My Matches </button>
        </div>
      </div>
    <% end %>
  </div>
</div>
